    @import url('https://fonts.googleapis.com/css?family=Marko One');
    .events{
    position: relative;
    height: 70vh;
    background-image: url('../images/aboutt.jpg');
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.6);
    background-position: center;
    background-repeat: no-repeat;

    }

    .about{
        background-color: #f4f4f4;
    }

    h1{
        color: white;
        text-align: center;
        font-size: 64px;
        margin-top: 100px;
        font-family: Marko One;
        
    }

    .about-text{
        padding: 0px 150px 50px 150px;
        background-color: #f4f4f4;
        padding-top: 40px;
        text-align: center;
    }

    h2{
        color: #3F734C;
        font-family: Marko One;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        font-family:Marko One, sans-serif;
        background-color: #f4f4f4;
        justify-content: center;
        padding: 10px 50px 50px 50px;
    }


    .card {
        background-color: #4F7953; 
        color: white;
        border-radius: 10px;
        padding: 20px;
        width: 250px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

  
    .card h3 {
        font-size: 20px;
        margin-bottom: 10px;
        font-weight: bold;
    }


    .card p {
        font-size: 16px;
        line-height: 1.5;
    }
.mission-vision {
    padding-top: 40px;
    padding-bottom: 40px;

}

.mission-image{
    position: relative;
    height: 110vh;
    background-image: url('../images/mission-img.jpg');
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.7);
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;

}

   
    .mission-cards {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }

  
    .mission-card {
        background-color: transparent;
        padding: 20px;
        width: 450px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        display: flex;
        /* flex-wrap: wrap; */
        align-items: flex-start;
        text-align: left;
        position: relative;
        flex-direction: row;
    }

  
    .mission-card .number-box {
        background-color: white;
        color: black;
        font-size: 24px;
        font-weight: bold;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 5px;
        width: 40px;
        height: 40px;
        text-align: center;
        display: inline-block;
    }

    .mission-card h3 {
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 10px;
        color: #87FFA5;
    }

    .mission-card p {
        font-size: 16px;
        line-height: 1.5;
        margin-left: 30px;
    }

    .mission-vision h3{
        color: #87FFA5;
        font-family: Marko One;
    }



    .problems{
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
    }

    .problems-section{
        background-color: white;
        color: black;
        width: 70%;
        padding: 10px 20px 30px 40px
    }



    .what-we-do {
        justify-content: center;
        background-image: url('../images/Recycle\ Sign.jpg');
        background-size: 80% 80%;;
        background-position: center;
        background-repeat: no-repeat;

    }

    .what-we-do h2{
        text-align: center;
        padding-top: 40px;
    }
    .what-text{
        text-align: center;
    }

   
    .timeline-container {
        display: flex;
        flex-direction: column;
        position: relative;
        max-width: 1600px;
        padding: 25px 55px 0px 0px;
    }

 
    .timeline-line {
        position: absolute;
        left: 50%;
        width: 4px;
        height: 100%;
        background-color: #ddd;
    }

 
    .timeline-item {
        display: flex;
        align-items: center;
        margin-bottom: 50px;
        position: relative;
    }

    .timeline-item.left {
        justify-content: flex-start;
    }

    .timeline-item.right {
        justify-content: flex-end;
    }

 
    .number-box {
        background-color: #777;
        color: white;
        font-size: 18px;
        font-weight: bold;
        border-radius: 5px;
        padding: 10px;
        width: 40px;
        text-align: center;
        margin-right: 20px;
        position: relative;
        z-index: 1;
    }


    .timeline-item.left .number-box {
        margin-left: 50px;
        margin-right: 0;
    }


    .content-box {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 45%;
    }

 
    .content-box h3 {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 10px;
    }


    .timeline-item.left .content-box {
        margin-right: 10%;
    }

    .timeline-item.right .content-box {
        margin-left: 10%;
    }


    .our-partners{
        display: flex;
        flex-wrap: wrap;
        padding: 25px 0 0 200px;
    }

    .partner-image{
        width: 35%;
        height: 10%;
    }

    .partner-text{
       padding-left: 100px;
    }


    .donation{
        display: flex;
        flex-wrap: wrap;
        margin-left: 100px;
        margin-top: 80px;

    }

    .donation-btn{
    background-color: #3F734C;
    padding: 12px 25px;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    }

    .donate-img{
        width: 35%;
        height: 10%;
        margin-left: 300px;
        margin-top: 40px;


    }


    .call-to-action{
        justify-content: space-around;
        gap: 400px;
        display: flex;
        flex-wrap: wrap;
        padding: 30px 30px 30px 50px;
    }

    .sign-up-btn{
    background-color: #3F734C;
    padding: 12px 25px;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    }
    .sign-up-btn:hover {
        background-color: #45a049;
    }


    .event-btn{
    background-color: white;
    padding: 12px 25px;
    border:  2px solid #3F734C;
    color: #3F734C;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 10px;
    }
    .event-btn:hover {
        background-color: #45a049;
    }


    .call-img{
        width: 300px;
        height: 400px;
    }

    .call-text{
        padding-top: 50px;
    }


    @media (max-width: 768px) {
        .events{
            height: 40vh;
        }

        h1{
            font-size: 32px;
        }
        .mission-card{
            flex-wrap: wrap;
            width: 80%;
            
        }
        .mission-vision h3, .mission-text{
            text-align: center;
        }
        .mission-image{
            padding-bottom: 700px;
        }
        .mission-card .number-box{
            padding: 5px;
        }

        .what-we-do{
            background-size: 100% 40%;;
        }
        .donate-img{
            display: none;
        }
        .donation{
            text-align: center;
            margin: 0 auto;
            padding-top: 20px;
            justify-content: center;
        }
        .our-partners{
            display: none;
        }
        .call-to-action{
            text-align: center;
            justify-content: center;
            gap: 20px;
        }
    }

    @media (max-width: 480px) {
        .card h3 {
            font-size: 16px;
        }
        .card p{
            font-size: 14px;
        }
            

        .mission-card{
            flex-wrap: wrap;
            width: 80%;
            
        }
        .mission-vision h3, .mission-text{
            text-align: center;
        }
        .mission-vision h3{
            font-size: 14px;
        }
        .mission-image{
            padding-bottom:900px;
        }
        .mission-card .number-box{
            font-size: 20px;
            padding: 5px;
        }

        .timeline-container h3{
            font-size: 16px;
        }
        .timeline-container p{
            font-size: 14px;
        }
        .what-we-do{
            background-size: 100% 40%;;
        }
        .donate-img{
            display: none;
        }
        .donation{
            /* justify-content: center; */
            text-align: center;
            margin: 0 auto;
            padding-top: 20px;
        }
        .donation h2{
            font-size: 16px;
        }
        .our-partners{
            display: none;
        }
        .call-to-action{
            text-align: center;
            justify-content: center;
            gap: 20px;
        }
        .about-text{
            padding: 40px;
            
        }
    }


    @media (min-width: 769px) and (max-width: 1157px) {
        .mission-vision h3, .mission-text{
            text-align: center;
        }
        .mission-cards{
            justify-content: center;
        }
        .mission-image{
            padding-bottom: 800px;
        }
        .call-to-action{
            gap: 20px;
        }
        .call-img{
            justify-content: center;
        }
    }
    @media (max-width: 1024px) {
        .mission-image{
            /* padding: 400px; */
        }

    }