.events{
    position: relative;
    height: 70vh;
    background-image: url('../images/events.webp');
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.6);
    background-position: center;
    background-repeat: no-repeat;
    }

h1{
    color: white;
    margin: 80px 0px 0px 40px;
}

.upcoming-events{
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    justify-content: center;
    gap: 25px;
    
}
.event-img{
    width: 260px;
    height: auto;
    border-radius: 20px;
}

.upcoming-events-text{
    color: #3F734C;
    font-size: 22px;
    font-weight: bold;
    padding-left: 150px;
    padding-top: 20px;
}


.last-section{
    position: relative;
    height: 90vh;
    background-image: url('../images/recycle.webp');
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    color: white;
    margin-top: 100px;
}

h2{
    text-align: center;
    color: white;
    padding-top: 150px;
    font-size: 30px;
}

.last-section-text{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 50px;
    width: 300px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 230px;
}


@media (max-width: 480x){
    .events{
        height: 50vh;
    }

    .upcoming-events-text{
        text-align: center;
        margin: 0 auto;
        padding-left: 0;
    }

    .last-section{
        height: 50vh;
    }
   
}

@media (max-width: 768px){
    .last-section{
        height: 50vh;
    }
    .last-section-text{
        margin-bottom: 0;
        padding: 20px;
    }
 
}