* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.intro-background{
    position: relative;
    height: 100vh;
    background-image: url('../images/Intro-background.jpg');
    background-size: cover;
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.3);

}

.intro {
    height: calc(100vh - 80px); 
    align-items:self-start;
    justify-content: left;
    color: white;
    position: relative;
    z-index: 1; 
    margin: 200px 0px 0px 30px;
    font-style: Marko One;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.intro .intro-buttons{
    margin-top: 40px;
    gap: 20px
}

.intro .intro-buttons .intro-button1{
    background-color: #3F734C;
    padding: 12px 25px;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 12px;
}



.intro .intro-buttons .intro-button2{
    background-color: #3F734C;
    padding: 12px 25px;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;


}


.intro-buttons{
    display: flex;
    flex-wrap: wrap;
}  



.what-we-do {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 50px 10px 100px;
    margin: 30px 100px 0px 10px;


}

.content{
    display: flex;
    flex-direction: row;
    align-items: start;
    
}

.what-we-do .content img{
    width: 400px; 
    margin-right: 100px; 
    display: block;
    max-width: 100%;
    height: auto; 
}
.text{
    margin-top: 5px;
    
}

h3{
    padding-bottom: 20px;
    color: #3F734C;
}

h2{
    padding-bottom: 30px;
    color: #3F734C;
}

.text h3, h2, p{
    text-align: left;
    max-width: 600px;
    justify-content: left;
    margin: 0 auto; 
}

.btn-primary{
    background-color: #3F734C;
    padding: 12px 25px;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0px;

}
.btn-primary:hover{
    background-color: #4CAF50; 
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.report{
    margin-left: 100px;
    margin-bottom: 20px;
}

.report-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

.report-img{
    width: 30%; 
    margin-left: 500px;
    display: block;
    max-width: 100%;
    height: auto; 

}

.report{
    display: flex;
    padding: 10px 50px;
    margin-top: 5px; 
}

.text-report{
    margin-top: 60px;

}

.report-btn{
    background-color: #3F734C;
    padding: 12px 25px;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;

}

.report-btn:hover{
    background-color: #4CAF50; 
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.text-report p{
    margin-top: 20px;
}


.recycling-centers {
    color: white;
    text-align: center;
    padding: 50px 0;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.8);
}

.recycling-centers .center-locator {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.recycling-centers input {
    padding: 10px;
    border-radius: 5px;
    border: none;
}


.community-events {
    padding: 50px;
    background-image: url('../images/people-cleaning.jpg');
    background-size: cover;
    background-blend-mode: overlay;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    line-height: 30px;
}

.community-events h2 {
    margin-bottom: 20px;
}

.community-links{
    list-style: none;
    margin-bottom: 5px;
}


.partners {
    text-align: center;
    padding: 50px 0;
}

.partner-logos img {
    width: 150px;
    margin: 0 20px;
}
.partners h2, .recycling-centers h2, .community-events h2{
    text-align: center;
}


#message-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: black; 
    color: white; 
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    z-index: 1000; 
    width: 300px;
}

.message-active {
    display: block;
}




@media (max-width: 762px) {
    .what-we-do .content img{
        display: none;
    }

    .what-we-do{
            max-width: 600px;
            justify-content: center;
            margin: 0 auto; 
            padding-top: 30px;
            text-align: center;
    }
    .text h3, h2{
        text-align: center;
        justify-content: center;
        margin: 0 auto; 
    }

    .report-img{
        display: none;
    }

    .report{
        text-align: center;
        justify-content: center;
        margin: 0 auto; 
        padding-bottom: 30px;
    }

    
}

@media (max-width: 768px) {
    .intro-background{
        background-color: rgba(0, 0, 0, 0.6);
        height: 80vh;
    
    }
}



@media (max-width: 1047px) {
    .what-we-do .content{
        flex-direction: column;
    }
    .text h2{
        padding-top: 20px;
    }

    .report{
        margin: 0;
        padding-left: 100px;
        padding-bottom: 40px;
    }
    .report-content{
        gap: 150px;
    }


    .report-img{
        width: 250px;
        margin:0;
    }
    
}