.navbar{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 20px;
    background-color: transparent;
    color: white;
    z-index: 1;
}

.navbar .nav-links{
    list-style: none;
    display: flex;
    gap: 25px; 
    margin: 0;
    padding: 0;

}

.navbar .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 15px; 
    border-radius: 5px; 
    transition: transform 0.3s ease, background-color 0.3s ease;
    display: inline-block;
     border: solid 0.5px transparent;
}

.navbar .nav-links a:hover { 
    transform: scale(1.1);
    background-color: #3F734C;
    border-radius: 5px;
    border: solid 0.5px white;
    padding: 10px 15px;
    
}


.navbar .nav-links a.active {
    background-color: #3F734C;
    border-radius: 5px;
    border: solid 0.5px white;
    color: white;
    padding: 10px 15px;
}

.navbar .toogle-btn{
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    display: none;
}

.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    background-color: rgba(63, 115, 76, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    visibility: hidden;
    opacity: 0;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 9999;
}
.dropdown_menu.open{
    height: auto;
    display: block;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    position: absolute;
}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu li a{
    text-decoration: none;
    color: white;
}
.dropdown_menu .contact-btn{
    width: 100%;
    display: flex;
    justify-content: center;

}
   
    

.contact-btn {
    background-color: #3F734C;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 30px;
    cursor: pointer;
}
.contact-btn:hover{
    background-color: #4CAF50; 
    transition: transform 0.3s ease, background-color 0.3s ease;
}




.btn-primary{
    background-color: #3F734C;
    padding: 12px 25px;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0px;

}
.btn-primary:hover{
    background-color: #4CAF50; 
    transition: transform 0.3s ease, background-color 0.3s ease;
}

footer {
    text-align: center;
    padding: 3px 20px 26px 20px;
    background-color: #3F734C;
    color: white;
    height: 15px;
    bottom: 0;
    width: 100%;
}

@media(max-width: 992px) {
    .navbar .nav-links, .navbar .nav-links a, .contact-btn {
        display: none;
    }

    .navbar .toogle-btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }

}

@media(max-width: 576px){
    .dropdown_menu{
        width: unset;
        left: 2rem;
    }
}





