<!DOCTYPE html>
<html lang="en"> 

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> About Us</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Playwrite US Trad' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Marko One' rel='stylesheet'>
</head>

<body>
    <div class="events">
        <nav class="navbar">
        <div class="logo">
            <p style="font-family: Playwrite US Trad; font-size:16px;">GreenWatch</p>
            <p style="font-family: Arial; font-size:8px; font-weight:50"> Community Waste Management and<br> Recycling Platform<p>
        </div> 
        <ul class="nav-links">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'report' %}">Report Waste</a></li>
        <li><a href="{% url 'recycle_center' %}">Recycling Centers</a></li>
        <li><a href="{% url 'events' %}">Events</a></li>
        <li><button class="contact-btn" onclick="window.location.href='{% url 'contact' %}'">Contact</button></li>
        </ul>
        <div class="toogle-btn">
            <i class="fa-solid fa-bars"></i>
        </div>
    </nav>
    <div class="dropdown_menu">

                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'report' %}">Report Waste</a></li>
                <li><a href="{% url 'recycle_center' %}">Recycling Centers</a></li>
                <li ><a href="{% url 'events' %}">Events</a></li>
                <li><button class="contact-btn" onclick="window.location.href='{% url 'contact' %}'">Contact</button></li>
    </div>

    <div>
        <h1>About Us</h1>
    </div>
    </div>

    <section class=" about">
        <div class="about-text">
            <h2>About Us</h2>
            <p>
            GreenWatch is a platform dedicated to transforming waste management in Nairobi. We believe in a collaborative
            approach, empowering communities to take charge and contribute to a greener city. Our platform connects
            residents with recycling centers, offers educational resources, and facilitates community-driven initiatives, working towards a sustainable future.
            </p>
        </div>
        <div class="card-container">
        <div class="card">
            <h3>Community Engagement</h3>
            <p>We connect residents with each other and with resources to tackle waste issues.</p>
        </div>
        <div class="card">
            <h3>Recycling Solutions</h3>
            <p>Our platform helps you find local recycling centers and learn about accepted materials.</p>
        </div>
        <div class="card">
            <h3>Sustainable Solutions</h3>
            <p>We promote responsible waste disposal and encourage responsible consumption habits.</p>
        </div>
    </div>

        </div>
    </section>


    <div class="mission-image">
        <section class="mission-vision">
        <h3>Mission and Vision</h3>
        <p class="mission-text">We aim to create a positive impact on Nairobi's waste management system, fostering a cleaner and healthier environment for everyone.</p>
        <div class="mission-cards">
            <div class="mission-card">
                <div class="number-box">1</div>
                <h3>Reduce Waste</h3>
                <p>Our goal is to decrease waste generation and prevent unnecessary waste from ending up in landfills.</p>
            </div>
            <div class="mission-card">
                <div class="number-box">2</div>
                <h3>Promote Recycling</h3>
                <p>We work to make recycling accessible and encourage residents to participate in sustainable practices.</p>
            </div>
        </div>
        <div class="mission-cards">
            <div class="mission-card">
                <div class="number-box">3</div>
                <h3>Build Sustainable Communities</h3>
                <p>We believe in empowering communities and fostering collaboration to create lasting positive change.</p>
            </div>
            <div class="mission-card">
                <div class="number-box">4</div>
                <h3>Eradicate Illegal Dumping</h3>
                <p>Our vision is to eliminate illegal dumping and create a cleaner, healthier environment for all.</p>
            </div>
        </div>

        <div class= "problems-section">
            <h4>The Problem We Address</h4>
            <p>Nairobi faces significant waste management challenges that impact the health and well-being of its residents.</p>
            <div class="problems">
            <div>
            <h4>Illegal dumping</h4>
            <p>Illegal dumping is prevalent in many areas,<br> contributing to environmental pollution<br> and health hazards.</p>
            </div>
            <div>
            <h4>Inadequate Services</h4>
            <p>Limited municipal waste collection services<br> lead to uncollected garbage and create<br> sanitation problems.</p>
            </div>
            <div>
            <h4>Limited Recycling</h4>
            <p>Lack of accessible recycling options leads<br> to more waste ending up in landfills,<br> exacerbating waste management challenges.</p>
            </div>
            </div>
        </div>
        
    </section>
    </div>

    <section class="what-we-do">
        <h2>What We Do</h2>
        <p class="what-text">GreenWatch empowers residents to take an active role in waste management and create a cleaner, more sustainable Nairobi.</p>

    <div class="timeline-container">
        <div class="timeline-line"></div>
        <div class="timeline-item left">
            <div class="number-box">1</div>
            <div class="content-box">
                <h3>Waste Reporting</h3>
                <p>Report waste issues in your area directly through our app, ensuring prompt action and resolution.</p>
            </div>
        </div>
        <div class="timeline-item right">
            <div class="content-box">
                <h3>Recycling Center Locator</h3>
                <p>Find nearby recycling centers, discover what materials they accept, and recycle responsibly.</p>
            </div>
            <div class="number-box">2</div>
        </div>
        <div class="timeline-item left">
            <div class="number-box">3</div>
            <div class="content-box">
                <h3>Educational Resources</h3>
                <p>Access informative resources and learn about reducing, reusing, and recycling to minimize waste.</p>
            </div>
        </div>
        <div class="timeline-item right">
            <div class="content-box">
                <h3>Community Clean-Ups</h3>
                <p>Participate in organized clean-up events to beautify neighborhoods and foster community engagement.</p>
            </div>
            <div class="number-box">4</div>
        </div>
        <div class="timeline-item left">
            <div class="number-box">5</div>
            <div class="content-box">
                <h3>Affordable Waste Solutions</h3>
                <p>We partner with organizations to provide subsidized waste collection services for low-income households.</p>
            </div>
        </div>
    </div>
    </section>

    <section class="our-partners">
        <img src="{% static 'images/partners.jpg' %}" alt="organizations logos" class="partner-image">
        <div>
            <h4 class ="partner-text" style="margin-top:200px;">Our Partners</h4>
            <p class="partner-text">We believe in collaborative partnerships that amplify our impact and<br> create a lasting positive change in Nairobi.</p>
        </div>
    </section>
    

    <section class="donation">
    <div class="donation-right">
        <h2>Donate and Support <br> Our Mission</h2>
        <p>Your support is crucial to our mission to create a cleaner, greener Nairobi for all.<br><br></p>
        <p>Why donate?</p>
        <ul>
            <li>Provides subsidized waste collection services for low-income families</li>
            <li>Supports community clean-up events and recycling drives</li>
            <li>Funds educational programs on responsible waste management</li>
        </ul>
        <p>Impact of your donation</p>
        <ul>
            <li>Every contribution, no matter the size, helps us empower communities<br> and create lasting positive change.</li>
        </ul>
        <button class="donation-btn">Donate Now</button>

    </div>
        <img src="{% static 'images/aboutt.webp' %}"alt="people cleaning and planting trees" class="donate-img">
    
    </section>

    <section class="call-to-action">
        <div class="call-text">
            <h2>Call to Action</h2>
            <p>Join us in our mission to create a cleaner, greener Nairobi.<br> Together, we can make a difference.</p>
            <button class="sign-up-btn" onclick="window.location.href='{% url 'register' %}'">Sign Up</button>
            <button class="event-btn" onclick="window.location.href='{% url 'events' %}'">Join an Event</button>
        </div>
    
        <img src="{% static 'images/call.jpg' %}" alt="vibrant, outdoor community event focused on environmental sustainability" class="call-img">
        
    </section>




    <footer>
        <p>&copy; 2024 Green Watch. All Rights Reserved.</p>
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
    
            const toogleBtn = document.querySelector('.toogle-btn');
            const toogleBtnIcon = document.querySelector('.toogle-btn i');
            const dropDownMenu = document.querySelector('.dropdown_menu');
    
            if (toogleBtn && toogleBtnIcon && dropDownMenu) {
                toogleBtn.onclick = function () {
                    dropDownMenu.classList.toggle('open');
                    const isOpen = dropDownMenu.classList.contains('open');
                    toogleBtnIcon.classList = isOpen 
                        ? 'fa-solid fa-xmark' 
                        : 'fa-solid fa-bars';
                }
            }
        });
    </script>

</body>
</html>