<!DOCTYPE html>
<html lang="en"> 

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> GreenWatch Events</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Playwrite US Trad' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Marko One' rel='stylesheet'>
</head>

<body>
    <div class="events">
        <nav class="navbar">
        <div class="logo">
            <p style="font-family: Playwrite US Trad; font-size:24px;">GreenWatch</p>
            <p style="font-size: 12"> Community Waste Management and<br> Recycling Platform<p>
        </div> 
        <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li
        <li><a href="#">Report Waste</a></li>
        <li><a href="#">Recycling Centers</a></li>
        <li><a href="#">Events</a></li>
        </ul>
        <button class="contact-btn">Contact</button>
    </nav>

    <section class="">
    <div>
        <h1>FEATURED <br> COMMUNITY EVENTS</h1>
    </div>
    </section>
    </div>

    <section>
    <p>Upcoming Events</p>
    <div class="Event-details">
            <img src="https://via.placeholder.com/150" alt="Center 1">
            <img src="https://via.placeholder.com/150" alt="Center 2">
            <img src="https://via.placeholder.com/150" alt="Center 3">
            <img src="https://via.placeholder.com/150" alt="Center 4">
    </div>
    </section>
    

    <footer>
        <p>&copy; 2024 Green Watch. All Rights Reserved.</p>
    </footer>

</body>
</html>