<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenWatch Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="left-section">
                <h1>GreenWatch</h1>
                <p>Cleaning Our Cities, Saving Our Future</p>
            </div>
            <div class="right-section">
                <div class="register-form">
                    <h2>Log in</h2>
                    <div class="google-btn">
                        <button class="google-signin"> 
                            <img src="{% static 'images/google.svg' %}"  class="google-logo" alt="Google logo" style="width:20px">
                            Sign in with google
                        </button>
                    </div>
                    <form method="POST" action="{% url 'sign_in_submit' %}">
                        {% csrf_token %}
                        <input type="email" name="email" placeholder="User email" class="input-field">
                        <input type="password" name="password" placeholder="Password" class="input-field">
                        <button type="submit" class="register-btn">Login</button>
                    </form>
                    {% if messages %}
                        <div class="messages">
                            {% for message in messages %}
                                <div class="{% if message.tags %}{{ message.tags }}{% endif %}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <p class="login-text">Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

