<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenWatch Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="left-section">
                <h1>GreenWatch</h1>
                <p>Cleaning Our Cities, Saving Our Future</p>
            </div>
            <div class="right-section">
                <div class="register-form">
                    <h2>Register</h2>
                    <!-- <div class="google-btn">
                        <button class="google-signin"> 
                            <img src="{% static 'images/google.svg' %}"  class="google-logo" alt="Google logo" style="width:20px">
                            Sign in with google
                        </button>
                    </div> -->
                    <form method="POST" action="">
                        {% csrf_token %}
                        <input type="text" name="full_name" placeholder="Full Name" class="input-field" required>
                        <input type="email"name="email" placeholder="User email" class="input-field" required>
                        <input type="password" name="password" placeholder="Password" class="input-field" required>
                        <button type="submit" class="register-btn">Register</button>
                    </form>
                    <p class="login-text">Already have an account? <a href="{% url 'login' %}">login</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>